@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
}

/* ||VARIABLES */

:root {
  /* COLORS */
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
}

/* || UTILITY CLASSES */

.underline {
  text-decoration: underline;
}

/* || GENERAL STYLES */

html {
  font-size: 2.5rem;
  font-family:'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

/* || BLOCKS */
/* Aka components */

.header{
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: 1rem 1rem 0.5rem;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

/* || ELEMENTS */
.header__btn {
  border-radius: 15px;
  min-height: 100px;
  min-width: 100px;
}

/* || MODIFIERS */
/* Incremental style changes */

/* Blocks with Modifiers */
.header__btn--secondary{
    background-color: yellow;
}

.header__btn--lean{
    transform: skewX(-10deg);
}

.header__btn--border-lg{
    border: 5px solid whitesmoke;
}
