html{
     font-size: 22px;
} 
body{
   
    border: 3px solid black;
}
main{
    font-family: monospace ;
}
button, input, textarea, select{
    font: inherit;
}
h1, h2{
    color: rgb(0, 106, 255);
}
p {
    color: blueviolet;
}
p{
    color: red;
}
.highlight {
    text-transform: uppercase;
    background-color: gold;
}
.gray{
    color: gray;
}
#second{
    font-style: italic ;
}