@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    border: 1px solid #000;
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-evenly;
}

.box{
    min-width: 100px;
    min-height: 100px;
    background-color: #000;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 150px;
}

.box:nth-child(2)  {
    flex: 2 2 150px;
    order: 1;
}
