@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: #000;
    margin: 0;
}

li{
    display: inline-block;
    margin-inline: 0.5rem;
}

li a{
    color: #fff;
    text-decoration: none;
}

li a:hover, li a:focus{
    text-decoration: underline;
}
/* p{
    background-color: lightblue;
}

.opposite{
    display: inline-block;
    background-color: #333;
    color: antiquewhite;
    margin-top: 100px;
    height: 200px;
    padding: 4rem;
} */